node_modules/
dist/
.ui5/
.scp/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp
ui5-dist.yaml

# IDE / OS
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Local env files
.env.local
.env.*.local
